

:root {
  --primary-font: "Montserrat", sans-serif;
  --white-color: #ffffff;
}


.body{
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  display: block;
  /* background-color: #9D1619; */
  background-color: var(--white-color);
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.brand {
  font-weight: bold;
  color: #440908;
}

.primaryColor {
  color: #440908;
}

/* loading */

.loading { 
  min-width: 100%;
  min-height: 100vh;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  animation: l14 4s infinite;
  
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: #9C0B0B #9C0B0B #0000 #0000;
  mix-blend-mode: darken;
  animation: l14 1s infinite linear;
}
.loader::after {
  border-color: #0000 #0000 #1A2980 #1A2980;
  animation-direction: reverse;
}
@keyframes l14{ 
  100%{transform: rotate(1turn)}
}


/* navigation bar  */


.nav-item {
  padding: 15px 20px;
}

.nav-item > a {
  font-size: 18px;
  color: #1A2980 !important;
}

.nav-link.active {
  font-weight: bold ;
}

/* Home */

.homeBackground {
  margin: 0;
  width : 100%;
  min-height: 100vh;
  background-image: url("./assets//Home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.redGradient{
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(252deg, rgba(2,0,36,0) 0%, rgba(110,7,8,0.3618697478991597) 47%, rgba(110,7,8,1) 100%);
  color: var(--white-color);
  display: flex;
  align-items: center;

}

.hero{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 50px !important;
}

.heroContent h1 {
  font-size: clamp(2rem, 3vw, 5rem);
  text-align: start;
  align-self: center;
}

.heroContent p {
  width:100%;
  font-size: 15px;
  text-align: start;
  align-self: center;
  font-style: italic;
}

.heroContent h3 {
  width:80%;
  font-size: 1.25;
  text-align: start;
  align-self: center;
}

.quoteBackground {
  width: 100%;
  min-height: 100px;
  color: #5E2626;
  background-color: #c89192;
  font-family: "Marck Script", serif;
  font-weight: 400;
  font-style: normal;
}

.pen{
  filter: hue-rotate(0deg) saturate(1.5) brightness(0.8);
}

.whyUs {
  font-family: var( --primary-font);
}

.whyUs  h2 {
  color: #440908;
}

.whyUs h4{
  color: #9C0B0B
}

.whyUs p {
  color: #080707;
  word-wrap: break-word;
}

.ourDetails {
  background-color: #D9D9D9;
}

.ourDetails h5 {
  font-family: var(--primary-font);
  font-weight: bolder !important;
}

.ourClients {
  font-family: var(--primary-font);
}

.ourClients  h2 {
  color: #440908;
}

.cardDetail {
  margin: 0;
  padding: 0;
  min-width: 20px;
  width: 20rem;
  border: 2px solid #640303 !important;
  box-shadow: 5px 5px 15px #9b4345;
}

.cardDetail h5 {
  font-weight: bold;
}

.testimonials {
  font-family: var(--primary-font);
}

.testimonials  h2 {
  color: #440908;
}

.review {
  min-height: 200px;
  font-family: var( --primary-font);
}


.review h3{
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.review h6{
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.review p {
  width: 450px;
}

/* about us */

.aboutUsBanner {
  height: 600px;
  width: 100%;
  /* position: absolute; */
  background-image: url("./assets//aboutUsBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.overlay {
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;   
}

.overlay h2 {
  margin: 0;
  font-size: 3rem;
  font-family: var( --primary-font);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
  font-weight: bold;
}

.aboutUs {
  font-family: var( --primary-font);
}

.aboutUs h2 {
  color: #440908;
  font-weight: bold
}

.aboutUs p {
  font-size: 18px;
}

.ourTeam {
  font-family: var(--primary-font);
}

.ourTeam  h2 {
  color: #440908;
}

.memberName {
  color: #B39882 !important;
  font-weight: bold;
}

.role {
  color: #183862 !important;
  font-weight: bold;
}

.experience {
  color: #183862 !important;
  font-weight: normal;
  font-size: 14px;
}

.line {
  border: 1px solid #020202 !important;
}

/* practice areas */

.practiceAreasBanner {
  height: 600px;
  width: 100%;
  /* position: absolute; */
  background-image: url("./assets//practiceAreasBanner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.practiceAreas {
  font-family: var( --primary-font);
}

.practiceAreas h2 {
  color: #440908;
  font-weight: bold
}

.practiceAreas p {
  font-size: 18px;
}

.practiceAreas a{
  color: black;
}


/* practice areas tabs */

.practiceAreaItems{
  font-family: var( --primary-font);
  color: #1A2980 !important ;
  cursor: pointer;
  font-size: 14px;
}
.notPracticeAreasIndivideal {
  color: #1A2980 !important ;
  font-weight: 600 !important;
}

.practiceAreasIndivideal {
  background-color: #1A2980 !important;
  color: #ffffff !important;
}

/* family */ 

.family {
  font-family: var( --primary-font);
}

.family h2 {
  color: #440908;
  font-weight: bold
}

/* contact us */

.contactUsBanner {
  height: 600px;
  width: 100%;
  /* position: absolute; */
  background-image: url("./assets/contactUsBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.contactUs {
  font-family: var( --primary-font);
}

.contactUs h2 {
  color: #440908;
  font-weight: bold
}


.contactUs h3 {
  color: #183862;
  font-weight: bold
}

.contact1 {
  color: #607DBC;
}


.contactForm {
  background-color: #b67777;
  color: #ffffff !important;
}

.contactForm h3{
  color: #ffffff !important;
}

.contactForm p{
  font-size: 13px;
}

.contactForm1{
  width: 100%;
}

.input {
  border: 1px solid #440908 !important ;
  background-color: #d2aeae !important;
  height: 35px;
  width: 100%;
}

textarea {
  min-height: 150px;
}

label {
  font-weight: 500;
}

.error {
  color : rgb(149, 33, 33);
  font-weight: 500;
  font-size: 13px
}

.submitButton { 
  background-color: #9C0B0B !important;
  color: #ffffff !important;
}
/* footer */

.footer {
  background-color: #58363e;
  margin: 0;
  padding: 0;
  color:  var(--white-color);
  font-family: var( --primary-font);
  font-optical-sizing: auto;
  font-style: normal;

}

.footerDescription {
  font-size: 10px;
}

.linkHead { 
  text-underline-offset: 10px;
  font-weight: bold;
}

.footerLinks { 
  list-style-type : none !important;
  margin: 0;
  padding: 5px 0px;

}
.footerLinks > a {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  color:  var(--white-color) !important;
}

.contact {
  color: #16E1F5;
}


.socialLinks {
  list-style-type : none !important;
  margin: 0;
  padding: 5px 0px;
}

.copyrights {
  color: #8C8C8C;
  font-family: var( --primary-font);
}

.commonLinks {
  list-style-type : none !important;
  margin: 0;
  padding: 5px 0px;
}

/* about us cards */

/* CARDS */

/* .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.card {
  min-width: 100px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}



.card__title {
  font-weight: 400;
  color: #440908;
}

.card__apply {
  align-self: center;
  font-size: 15px !important;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* text indent */
.textIndt-32 {
  text-align: justify; 
  text-indent: 2em;
}

/* timeline */

.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% - 1px);
    padding: 3px 0;
    margin: 0 2px 0 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #777;
    background-color: #fff;
    text-align: center;
    padding: 20px 60px 20px 0;
    display: block;
    position: relative;
    text-decoration: none !important;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: '';
    background: #629BDD;
    width: 40px;
    transform: skewY(-20deg);
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
}
.main-timeline .timeline-year{
    color: #555;
    background-color: #629BDD;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -50px;
    z-index: 1;
}
.main-timeline .timeline-year:before{
    content: '';
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.4);
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: -1;
}
.main-timeline .title{
    color: #629BDD;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 5px;
}
.main-timeline .description{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: right; }
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 20px 0 20px 60px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right: auto;
    left: -20px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: -50px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+2) .timeline-year{
    background: #345DAC;
}
.main-timeline .timeline:nth-child(4n+2) .title{ color: #345DAC; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+3) .timeline-year{
    background: #BC6ADC;
}
.main-timeline .timeline:nth-child(4n+3) .title{ color: #BC6ADC; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+4) .timeline-year{
    background: #ba2574;
}
.main-timeline .timeline:nth-child(4n+4) .title{ color: #ba2574; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 2px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 20px 0 20px 120px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        left: 30px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        left: 0;
        right: auto;
    }
  }


  /* tick list */

  ul.tick-list {
    list-style: none; /* Remove default bullets */
    padding-left: 0;
  }
  
  ul.tick-list li::before {
    content: "✔️";       /* Unicode checkmark */
    color: green;        /* Optional color */
    margin-right: 0.5em;
  }

  /* case results */

  .readMore {
    margin: 20px 0;
    color: #16E1F5;
    cursor: pointer;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;

    min-height: 30px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 40px;
    background-color: #555;
  
    overflow: hidden;
  
    position: relative;
    text-decoration: none !important;
    cursor: default;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover {
    text-decoration: none;
    color: #FFF;
  }

  .ag-courses-item_title {
    margin: 10px 0px;
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  
    z-index: 2;
    position: relative;
    font-size: 25px;
  }

  .case_description {
    text-decoration: none;
    color: #FFF;
  }

  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    padding: 0 10px;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease

  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  

  /* send mail */

  .sendMail {
    cursor: pointer;
  }
  

  .ourClients .card-body {
    min-height: 200px !important;
  }

  .popUp {
    background-color: #b67777 !important;
    color: #ffffff !important;
  }

  .notes { 
    font-size: 11px !important;
  }