

:root {
  --primary-font: "Montserrat", sans-serif;
  --white-color: #ffffff;
}


.body{
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  display: block;
  /* background-color: #9D1619; */
  background-color: var(--white-color);
}

/* navigation bar  */


.nav-item {
  padding: 15px 20px;
}

.nav-item > a {
  font-size: 18px;
  color: #1A2980 !important;
}

.nav-link.active {
  font-weight: bold ;
}

/* Home */

.homeBackground {
  margin: 0;
  width : 100%;
  min-height: 100vh;
  background-image: url("./assets//Home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.redGradient{
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(252deg, rgba(2,0,36,0) 0%, rgba(110,7,8,0.3618697478991597) 47%, rgba(110,7,8,1) 100%);
  color: var(--white-color);
  display: flex;
  align-items: center;

}

.hero{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 100px !important;
}

.heroContent h1 {
  font-size: clamp(2.5rem, 4vw, 5rem);
  text-align: start;
  align-self: center;
}

.heroContent p {
  width:80%;
  font-size: 1.25;
  text-align: start;
  align-self: center;
  font-style: italic;
}

.heroContent h3 {
  width:80%;
  font-size: 1.25;
  text-align: start;
  align-self: center;
}

.quoteBackground {
  width: 100%;
  min-height: 100px;
  color: #5E2626;
  background-color: #c89192;
  font-family: "Marck Script", serif;
  font-weight: 400;
  font-style: normal;
}

.pen{
  filter: hue-rotate(0deg) saturate(1.5) brightness(0.8);
}

.whyUs {
  font-family: var( --primary-font);
}

.whyUs  h2 {
  color: #440908;
}

.whyUs h4{
  color: #9C0B0B
}

.whyUs p {
  color: #080707;
  word-wrap: break-word;
}

.ourDetails {
  background-color: #D9D9D9;
}

.ourDetails h5 {
  font-family: var(--primary-font);
  font-weight: bolder !important;
}

.ourClients {
  font-family: var(--primary-font);
}

.ourClients  h2 {
  color: #440908;
}

.cardDetail {
  margin: 0;
  padding: 0;
  min-width: 20px;
  width: 20rem;
  border: 2px solid #640303 !important;
  box-shadow: 5px 5px 15px #9b4345;
}

.cardDetail h5 {
  font-weight: bold;
}

.testimonials {
  font-family: var(--primary-font);
}

.testimonials  h2 {
  color: #440908;
}

.review {
  min-height: 200px;
  font-family: var( --primary-font);
}


.review h3{
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.review h6{
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.review p {
  width: 450px;
}

/* about us */

.aboutUsBanner {
  height: 600px;
  width: 100%;
  /* position: absolute; */
  background-image: url("./assets//aboutUsBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent black */
  color: white;
  padding: 20px;
  text-align: center;
}

.overlay h2 {
  margin: 0;
  font-size: 3rem;
  font-family: var( --primary-font);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
  font-weight: bold;
}

.aboutUs {
  font-family: var( --primary-font);
}

.aboutUs h2 {
  color: #440908;
  font-weight: bold
}

.aboutUs p {
  font-size: 18px;
}

.ourTeam {
  font-family: var(--primary-font);
}

.ourTeam  h2 {
  color: #440908;
}

.memberName {
  color: #B39882 !important;
  font-weight: bold;
}

.role {
  color: #183862 !important;
  font-weight: bold;
}

.line {
  border: 1px solid #020202 !important;
}

/* footer */

.footer {
  background-color: #58363e;
  margin: 0;
  padding: 0;
  color:  var(--white-color);
  font-family: var( --primary-font);
  font-optical-sizing: auto;
  font-style: normal;

}

.footerDescription {
  font-size: 10px;
}

.linkHead { 
  text-underline-offset: 10px;
  font-weight: bold
}

.footerLinks { 
  list-style-type : none !important;
  margin: 0;
  padding: 5px 0px;

}
.footerLinks > a {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  color:  var(--white-color) !important;
}

.contact {
  color: #16E1F5;
}


.socialLinks {
  list-style-type : none !important;
  margin: 0;
  padding: 5px 0px;
}

.copyrights {
  color: #8C8C8C;
  font-family: var( --primary-font);
}

.commonLinks {
  list-style-type : none !important;
  margin: 0;
  padding: 5px 0px;
}